{% extends 'base.html.twig' %}

{% block title %}Edit Tickets{% endblock %}

{% block body %}
    <h1>Edit Tickets</h1>

    {{ include('tickets/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
